<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Iniciar Sesión</title>
	<meta charset="utf-8">
	<link rel="stylesheet" th:href="@{/css/login2.css}">
	<link
		href="https://fonts.googleapis.com/css2?family=Courgette&family=Kalam:wght@300&family=Permanent+Marker&family=Shadows+Into+Light&display=swap"
		rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Shadows+Into+Light&display=swap"
		rel="stylesheet">
</head>

<body>
	<div class="return">
		<header>
			<nav class="navbar">
				<div class="nav-text">
					<div>
						<a th:href="@{/}">Regresar</a>
					</div>
					<br>
				</div>

			</nav>
		</header>

		<div>
			<div class="container">
				<h2>Iniciar Sesión Usuario</h2>
				<div class="form-group">
					<form action="/usuarios/ingresar" method="post">
						<div>
							<label for="numDocumento">Numero Documento:</label>
							<input class="form-control" type="text" id="numDocumento" name="numDocumento"
								placeholder="Numero de documento" required>
						</div>
						<br>
						<div>
							<label for="contrasena">Contraseña:</label>
							<input class="form-control" type="text" id="contrasena" name="contrasena"
								placeholder="Contrasena" required>
						</div>
						<div th:if="${authenticationFailed}" style="color: red;">
							<p th:text="${errorMessage}"></p>
						</div>
						<br>
						<div>
							<button class="boton" type="submit">Ingresar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
		
</body>

</html>